<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          <p class="lead"></p>
        </h1>
      </div>
      </div>
      
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div>
  



<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
<div class='card'>
    <form  #userlogin="ngForm" (ngSubmit)="AddProduct()">
<div class='card-header'>
 ADD BOOK
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table' >       
    
      <tbody>  
            
            <tr>
                <td><label>Title</label></td>
                <td><input type="text" name="p_name" [(ngModel)]="productItem.productName"/></td>                  
              </tr>  
             
              <tr>
                <td><label>Author</label></td>
                <td><input type="text" name="p_date" [(ngModel)]="productItem.releaseDate"/></td>                  
              </tr>  
              <tr>
                <td><label>Genre</label></td>
                <td><input type="text" name="p_price" [(ngModel)]="productItem.price"/></td>                  
              </tr>  
             
               
              <tr>
                <td><label>imageUrl</label></td>
                <td><input type="text" name="p_image" [(ngModel)]="productItem.imageUrl"/></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" [disabled]="userlogin.form.invalid" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>
