<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          <p class="lead"></p>
        </h1>
      </div>
      </div>
      
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div>
  



<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">

  <div class='card'>
    <div class='card-header'>
     {{pageTitle}}
    </div>
    
    <div class='card-body'>            
      <div class='table-responsive'>
         <!-- <table class='table'
               *ngIf = 'products && products.length'>  -->
          <!-- <thead>
            <tr>
              <th>
                <button class='btn btn-primary'>
                   Image
                </button>
              </th>
              <th>Title</th>
              <th>Book Code</th>
              <th>Author</th>
              <th>Genre</th>
              <th>5 Star Rating</th>
            </tr>
           
          </thead> 
          <tbody>   -->
              <tr *ngFor='let product of products'>
                  <td><img 
                    [src] = 'product.imageUrl' 
                    [title] = 'product.productName'
                    [style.width.px] = 'imageWidth' 
                    [style.height.px] = 'imageHeight' 
                    [style.border-radius.px] = 'imageMargin'></td>
                  <!-- <td>{{ product.productName }}</td>
                  <td>{{ product.productCode }}</td>
                  <td>{{ product.releaseDate }}</td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.starRating }}</td> -->
                  <div class="move">
                    <h4 style= "color: black;">{{product.productName}}</h4>
                   
                        <h5 style= "color: black;"><span class="label label-default">{{product.releaseDate}}</span></h5><h6>
                        <small style="font-family:courier,'new courier';" class="text-muted">{{product.price}} </small>
                        </h6><br>
                      </div>
                  <td>
                    <button class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="editProduct(product)" style="margin-left: 20px;"> Edit</button>
                    <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()"(click)="deleteProduct(product)"> Delete</button>
                  </td>
                </tr>              
          
     <!-- </table> -->
      </div>
    </div>
  </div>
  